html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    border: 3px solid black;
}

.grid-item {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 5rem;
}

